@import "./style/common/font.scss";
@import "./style/common/color.scss";
@import "./style/body/main.scss";
@import "./style/body/sidebar.scss";
@import "./body/community.scss";
@import "./body/value.scss";

body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background-color: $color-body;
}