$color-base:#1D1D41;
$color-primary:#6359E9;
$color-secondary :#64CFF6;
$color-font-white:#ffffff;
$color-font-green:#02B15A;
$color-font-blueGrey: #AEABD8;
$color-font-graph-grey: #8C89B4;
$color-body: #141332;