$color-base:#1D1D41;
$color-primary:#6359E9;
$color-secondary :#64CFF6;
$color-font-white:#ffffff;
$color-font-green:#02B15A;
$color-font-red:#E41414;
$color-font-blueGrey: #AEABD8;
$color-font-graph-grey: #8C89B4;
$color-body: #141332;
$color-bg-green:  rgba(2, 177, 90, 0.15);
$color-bg-red: rgba(235, 0, 27, 0.15);
$color-bg-search:#27264E;
$color-bg-doughnut:#3A3A5A;