body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.font-lg {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
}

.font-md {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}

.font-sm {
    font-weight: 300;
    font-size: 13.8711px;
    line-height: 19px;
}
.font-xs {
    font-weight: 300;
    font-size: 12.1373px;
    line-height: 16px;
}

.font-bold-xl {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.font-bold-lg {
    font-weight: 600;
    font-size: 20.8067px;
    line-height: 28px;
}

.font-bold-md {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}