.sidebar {
    position: absolute;
    width: 320px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background-color: $color-base;
    border-radius: 20px;

    &__header {
        position: absolute;
        width: 170.21px;
        height: 50.05px;
        left: 28px;
        top: 57px;
    }
    &__menu {
        position: absolute;
        width: 263px;
        height: 320px;
        left: 29px;
        top: 168px;
        padding-bottom: 34px;
        border-bottom: 1px solid #4B4B99;
    }
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: inherit;
    }
    .nav a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        gap: 10px;
        color: $color-font-white;
        padding-left: 10px;
    }
    .nav .active,
    .nav a:hover {
        width: 263px;
        height: 57px;            
        background-color: $color-primary;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }
    &__about {
        position: absolute;
        width: 260.02px;
        height: 185px;
        left: 31.98px;
        top: 530px;;
    }
    &__login {
        position: absolute;
        width: 253px;
        height: 60px;
        left: 39px;
        bottom: 54px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &--user {
            display: flex;
            flex-direction: column;
            color: $color-font-white;
            margin-right: 50px;
        }
    }
}